<suite name="Ecom Test Suite" parallel="methods" thread-count="4"
	verbose="2">
	<test name="All Tests">
		<classes>
			<class name="com.ui.tests.LoginTest" />
			<class name="com.ui.tests.SearchProductTest" />
			<class name="com.ui.tests.InvalidCredLoginTest" />
			<class name="com.ui.tests.AddNewFirstAddressTest" />
			<class name="com.ui.tests.ProductCheckoutTest" />
			<class name="com.ui.tests.DeleteAddressTest" />
		</classes>
	</test>
</suite>
