<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Ecom Test Suite" parallel="methods" thread-count="6"
	verbose="2">

	<!-- ✅ First test block: All classes except DeleteAddressTest -->
	<test name="All Tests Except Delete">
		<parameter name="browser" value="${browser}" />
		<parameter name="isLambdaTest" value="${isLambdaTest}" />
		<parameter name="isHeadless" value="${isHeadless}" />
		<classes>
			<class name="com.ui.tests.LoginTest" />
			<class name="com.ui.tests.SearchProductTest" />
			<class name="com.ui.tests.InvalidCredLoginTest" />
			<class name="com.ui.tests.AddNewFirstAddressTest" />
			<class name="com.ui.tests.ProductCheckoutTest" />
		</classes>
	</test>

	<!-- ✅ Second test block: DeleteAddressTest runs after others -->
	<test name="Run DeleteAddressTest Last">
		<parameter name="browser" value="${browser}" />
		<parameter name="isLambdaTest" value="${isLambdaTest}" />
		<parameter name="isHeadless" value="${isHeadless}" />
		<classes>
			<class name="com.ui.tests.DeleteAddressTest" />
		</classes>
	</test>

</suite>
